<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <!-- 指定映射器路径 -->
    <mappers>
        <mapper resource="com/ssm/chapter16/mapper/RoleMapper.xml"/>
    </mappers>
</configuration>