<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="com/ssm/chapter22/mapper/UserRedPacket.xml"/>
        <mapper resource="com/ssm/chapter22/mapper/RedPacket.xml"/>
    </mappers>
</configuration>